# Supabase (obligatorio para backend en línea)
EXPO_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=tu_clave_anonima

# Google Maps (obligatorio para mapas nativos con provider Google)
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=tu_api_key_google_maps

# EAS project id (opcional durante bootstrap)
EXPO_PUBLIC_EAS_PROJECT_ID=00000000-0000-0000-0000-000000000000
